.note, .advanced, .flag, .takeAway {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  border-left: 8px;
  border-left-style: solid;
}

.note {
  border-color: #0d4a7b;
  background-color: #f0f7fd;
}

.note::before {
  content: "Note";
  font-weight: bold;
  color: #0d4a7b;
}

.advanced {
  border-color: #1f7b0d;
  background-color: #f1fdf0;
}

.advanced::before {
  content: "Optional Deeper Dive";
  font-weight: bold;
  color: #1f7b0d;
}

.takeAway {
  border-color: #cccc00;
  background-color: #ffffe6;
}

.takeAway::before {
  content: "Highlight";
  font-weight: bold;
  color: #cccc00;
}

.flag {
  border-color: #cc0000;
  background-color: #ffe6e6;
}

.flag::before {
  content: "Whoa!";
  font-weight: bold;
  color: #cc0000;
}

.caption {
  text-align: center;
}

blockquote {
  color: #002145;
}

strong {
  color: #002145;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}